
	
	<body ng-controller='ecomController'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" >
                <h1 class="text-center">Login Form</h1>
                </div> 
                <div class="modal-body">
		          
                            <form class="col-md-18 center-block">      
				<div class="form-group form-group-lg">
                    <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control input-lg" placeholder="Username" ng-model='userName'>
                    </div>    
                </div>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control input-lg" placeholder="Password" ng-model='passWord'>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" ng-click='login()'><a href ='#login'><b>Login</b></a></button>
                    <a href='#signup' class='btn btn-primary'>Sign Up</a>
                                </div>   
<p>*New Users,please signup..!</p>								
		                      </form>
                    
				
				
                    </div>
                </div>
				
            </div> 
				
	
			
    
	</body>
	