
	
	<body ng-controller='ecomSignUpController'>
		<div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#52ACF2">
                <h1 class="text-center">Signup Form</h1>
                </div>
                <div class="modal-body">
			<form class="col-md-18 center-block" name="myForm">
				<div class="form-group form-group-lg">
				<label class="control-label">USERNAME</label>
						<input type="text"  id="name" class="form-control input-lg" name='userName' placeholder='enter your name' ng-model='userName' ng-minlength='5' ng-maxlength='10' required/>
						 <span style="color:red" ng-show="myForm.userName.$dirty && myForm.userName.$invalid" >
							<span ng-show="myForm.userName.$error.required">Username is required!!</span>
							<span ng-show='myForm.userName.$error.minlength'>too short!!</span>
							<span ng-show='myForm.userName.$error.maxlength'>too long!!</span>
						</span>
				</div>
				<div class="form-group form-group-lg">
				<label class="control-label">EMAIL</label>
					<input type="email"  id="email" class="form-control input-lg" name='email' placeholder='enter your mail-id' ng-model='email' required/>
					<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
						<span ng-show="myForm.email.$error.required">Email is required.</span>
						<span ng-show="myForm.email.$error.email">Invalid email address.</span>
					</span>
				</div>
				<div class="form-group form-group-lg">
				<label class="control-label">PASSWORD</label>
					<input type="password"  id="pwd" class="form-control input-lg" name='passWord'  placeholder='enter password' ng-model='passWord' ng-minlength='5' ng-maxlength='10' required/>
					<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
						<span ng-show="myForm.passWord.$error.required">enter password with atleast one character ,one number and alphabet is required.</span>
						<span ng-show='myForm.passWord.$error.minlength'>too short!!</span>
						<span ng-show='myForm.passWord.$error.maxlength'>too long!!</span>
					</span>
				</div>
				<div class="form-group form-group-lg">
				<label class="control-label">CONFIRM PASSWORD</label>
					
					<input type="password" id="pwd" class="form-control input-lg" ng-model='confirmPass' placeholder='enter password again' required/>
				</div>
				<!-- address-line1 input-->
				<div class="form-group form-group-lg">
				    <label class="control-label">ADDRESS LINE 1</label>
					<input  class="form-control input-lg" id="address-line1" name="address-line1" type="text" placeholder="address line 1"
                         ng-model='addLine1' required/>
					 <p class="help-block">Street address, P.O. box, company name, c/o</p>
				</div>
				
                <!-- address-line2 input-->
                <div class="form-group form-group-lg">
                    <label class="control-label">ADDRESS LINE 2</label>
                    <div class="controls">
                        <input id="address-line2" name="address-line2" type="text" placeholder="address line 2"
                        class="form-control input-lg" ng-model='addLine2' required>
                        <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
                    </div>
                </div>
                <!-- city input-->
                <div class="form-group form-group-lg">
                    <label class="control-label">CITY/TOWN</label>
                    <div class="controls">
                        <input id="city" name="city" type="text" placeholder="city" class="form-control input-lg" required>
                        <p class="help-block" ng-model='city'></p>
                    </div>
                </div>
                <!-- region input-->
                <div class="form-group form-group-lg">
                    <label class="control-label">STATE/REGION</label>
                    <div class="controls">
                        <input id="region" name="region" type="text" placeholder="state / province / region"
                        class="form-control input-lg" ng-model='state' required>
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- postal-code input-->
                <div class="form-group form-group-lg">
                    <label class="control-label">POSTAL CODE</label>
                    <div class="controls">
                        <input id="postal-code" name="postal-code" type="text" placeholder="zip or postal code"
                        class="form-control input-lg" ng-model='pc' required>
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- country select -->
                <div class="form-group form-group-lg">
                    <label class="control-label">COUNTRY</label>
                    <div class="controls">
                       <input id="country" name="country" type="text" placeholder="country name"
                        class="form-control input-lg" ng-model='country' required>
                           
                    </div>
                </div>
				<div class="checkbox">
					<label><input type="checkbox" required>I accept all terms and conditions</label>
				</div>
				<button type="submit" class="btn btn-primary" ng-click='submit(userName,passWord,confirmPass,email,addLine1,addLine2,city,state,pc,country)'>Create Account</button>
				<!--<a href='#login'>Click here to login!!</a>-->
		</form>
            </div>
        </div>
		</div>
			
	


	
</body>
	